*{
    margin: 0;
    padding:0;
}
#head1{
    background-color:black;
    color:floralwhite;
    text-align: center;
    padding: 0;
    margin: 0;
}
#head1 h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
}
#head1 h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
#head2{
    background-color: rgb(29, 29, 29);
    color: white;
    padding: 0px 100px;
    border-bottom: 2px solid rgba(169, 169, 169, 0.61);
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 30px;
    overflow: hidden;
}
#head2>div{
    float: left;
    padding: 7px 0;
}
#head2 a{
    color: inherit;
    text-decoration: none;
}
#nav{
    background-color: rgb(179, 0, 0);
    color: white;
    min-height: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.container{
    padding: 0 15%;
    overflow: auto;
}
#nav>ul{
    list-style-type:none;
}
#nav li{
    display: inline-block;
    padding: 6px 4px;
}
#nav a{
    color: inherit;
    text-decoration: none;
}
#nav li:hover, #nav .active{
    background-color: white;
    color: black;
}
#latest{
    font-family: Arial, Helvetica, sans-serif;
    border-bottom:2px solid black;
    margin-top: 10px;
}
#latest1{
    border-bottom:2px solid black;
    padding: 10px 0;
}

ul.breadcrumb {
    padding: 4px 4px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 10px;
  }
  ul.breadcrumb li+li:before {
    padding: 5px;
    color: black;
    content: "\00BB";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
  }

  .news{
      padding: 10px 0;
      border-bottom:1px solid lightgray;
      min-height: 100px;
      font-family: Arial, Helvetica, sans-serif;
  }
  .news1{
    padding: 10px 0;
    border-bottom:1px solid lightgray;
    min-height: 80px;
  }
  .row{
    float: left;
    width: 65%;
  }
  .side{
      float: left;
      width: 32%;
      padding: 1.5%;
      font-family: Arial, Helvetica, sans-serif;
  }

  .footer_head{
      color: lightgray;
      display: flex;
      flex-direction: row;
      padding-top: 20px;
      padding-bottom: 20px;
      font-weight: bold;
      font-size: 12px;
  }
  .foot1{
      overflow: auto;
  }
  .foot1 ul{
      /* display: inline; */
      float: left;
      width: 30%;
      padding-left: 15px;
  }

  .footer_title{
    margin-bottom: 7px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:400;
    font-size: 11.5px;
}
.footer_title>a{
      color: inherit;
      text-decoration: none;

  }
  .footer_title:hover{
      color: grey;
  }

  .footer_head:after{
      content: "";
      flex: 1;
      border-bottom: 1px solid;
      margin: auto;
      color: grey;

  }
  .footer_head:before{
    content: "";
    flex: 0.05;
    border-bottom: 1px solid;
    margin: auto;
    color: grey;
  }

  .footer_left{
    float: left;
    width: 50%;
  }

  .footer_right{
    float: left;
      width: 49%;
      padding-left: 1%;
      overflow: auto;
      /* padding: 1.5%; */
  }

#copyright>a{
    color: inherit;
    text-decoration: none;
}

  #copyright{
      text-align: center;
      font-size: 10px;
      font-family: Arial, Helvetica, sans-serif;
      padding: 15px;
      color: lightgray;
  }
#footer{
    background-color: rgb(15, 15, 15);
    color: white;
    padding: 3px 100px;
    border-top: 3px solid red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: auto;
}

.side_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
    border-bottom: 2px solid black;
    font-size: 13px;
    font-weight: bold;
}
.side_nav .active{
    background-color: rgb(31, 31, 31);
}
  
.side_nav li {
    float: left;
    padding:11px;
}

.side_nav li a {
    display: block;
    color: white;
    text-align: left;
    text-decoration: none;
  }

 .side_nav li:hover {
    background-color: #111;
  }

.side_nav_cont{
    margin: 10px 0;
    font-size: 14px;
    padding:10px 0;
    color: black;
    border-bottom: 1px solid lightgray;
}
.side_nav_cont a{
    text-decoration: none;
    color: black;
}
.side_nav_line{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    font-weight: bold;
}

.side_nav_line:before, .side_nav_line:after{
        content: "";
        flex: 1 1;
        border-bottom: 1px solid;
        margin: auto;
        color: grey;
      }
.side_nav_line a{
    text-decoration: none;
    color: black;
}